.user-social-accounts {
  .user-soc-acc__list {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .user-soc-acc__item {
    display: flex;
    border-radius: 8px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 5px;

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 165px;
    }

    &:hover {
      background-color: #b9e3ff;
      cursor: default;
    }
  }

  .user-soc-acc__item-date {
    margin-left: auto;
    margin-right: 10px;
  }
}