.custom-pack-presence {
  .custom-pack-presence__details {
    display: flex;
    flex-direction: column;
    gap: 4.5px;

    span {
      display: flex;
      font-size: 18px;
      font-weight: 500;
      padding: 0 15px;

      &:hover {
        background-color: #b9e3ff;
        cursor: default;
      }
    }

    p {
      font-size: 18px;
      font-weight: 400;
    }
  }

  .custom-pack-presence__dropdown {
    position: absolute;
    top: 15px;
    right: 10px;
  }
}