.custom-pack-presence {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  height: 281.7px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  .custom-pack-presence__details {
    display: flex;
    flex-direction: column;
    gap: 4.5px;

    span {
      display: flex;
      font-size: 18px;
      font-weight: 500;
      padding: 0 15px;

      &:hover {
        background-color: #b9e3ff;
        cursor: default;
      }
    }

    p {
      font-size: 18px;
      font-weight: 400;
    }
  }

  .custom-pack-presence__dropdown{
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .no-custom-pack-presence {
    margin: auto 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 0 20px;
  }
}