.header {
  background-color: #fff;
  border-bottom: 1px solid var(--border-color);
  box-shadow: var(--border-box-shadow);
  position: relative;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__logo-img {
  width: 70px;
  height: 70px;
  background-image: url('@assets/111.svg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover,
  &:active,
  &:focus-visible {
    transform: scale(1.1);
  }
}

.header_container {
  justify-content: space-between;
  align-items: center;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__user-cred {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-right: 10px;

  span {
    min-width: 50px;
  }
}

.header__nav {
  display: flex;
  margin-right: 20px;
  gap: 20px;


  .header__nav-item {
    cursor: pointer;
    position: relative;
    transition: all .3s ease-in-out;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;

    border-bottom: 3px solid transparent;


    &:hover,
    &.active,
    &:focus-visible {
      transition: all .3s ease-in-out;
      color: var(--color-accent);
      border-color: var(--color-accent);
    }
  }
}