.user-credentials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  cursor: default;

  .user-credentials__dropdown {
    margin-left: auto;
  }

  span {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;

    p {
      font-size: 18px;
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}