.input-wrapper {
  display: flex;
  position: relative;
  width: fit-content;

  .input~span {
    position: absolute;
    color: #626262;
    padding: 14px;
    font-weight: 400;
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
  }

  .input:valid~span,
  .input:focus~span {
    transform: translate(10px, -50%);
    font-size: 14px;
    padding: 0 10px;
    background: var(--input-active__bg-color);
    letter-spacing: 1.2px;
  }

  .input:focus~span {
    color: #1976D2;
  }
}

.input {
  font-weight: 400;
  font-size: 16px;
  padding: 18px 13px;
  background-color: transparent;
  border: 1px solid #ccc;
  outline: 1px solid transparent;
  border-radius: 4px;
  transition: all .1s ease-in;

  &:hover {
    border: 1px solid #000;
  }

  /* &:invalid {
    border: 1px solid #de0e0e;
    outline: 1px solid #de0e0e;
  } */

  &:active,
  &:focus-visible {
    border: 1px solid #1976D2;
    outline: 1.5px solid #1976D2;

    &::placeholder {
      opacity: 0;
    }
  }
}