.input-wrapper {
  display: flex;
  position: relative;

  .input~span {
    position: absolute;
    color: #616161b3;
    padding: 14px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    pointer-events: none;
    transition: all .15s linear;
  }

  .input:valid~span,
  .input:focus~span,
  .input:disabled~span {
    transform: translate(10px, -57%);
    padding: 0 7px;
    background: var(--input-active__bg-color);
  }

  .input:focus~span {
    color: #1976D2;
  }
}

.input {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  padding: 18px 13px;
  background-color: transparent;
  border: 1px solid #ccc;
  outline: 1px solid transparent;
  border-radius: 10px;
  transition: all .1s ease-in;

  &:hover {
    border: 1px solid #000;
  }

  /* &:invalid {
    border: 1px solid #de0e0e;
    outline: 1px solid #de0e0e;
  } */

  &:active,
  &:focus-visible {
    border: 1px solid #1976D2;
    outline: 1.5px solid #1976D2;

    &::placeholder {
      opacity: 0;
    }
  }

  &:disabled {
    border: 1px solid #ccc;
    outline: 0 solid #ccc;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}