.carousel {
  display: flex;
  width: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
}

.carousel-skeleton {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 183px;
  overflow: hidden;
}