.card-info__content {
  display: flex;
  flex-direction: column;
  border: 1.5px solid #DDE7EE;
  padding: 16px;
  border-radius: 10px;
  gap: 20px;
  min-width: 320px;
  text-wrap: nowrap;
}

.card-info__logo {
  display: flex;
  align-items: center;
  scale: 1.5;
  padding-left: 5px;
}

.card-info__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}