.add-user-modal {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
  padding: 20px;
}

.inst-modal__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--color-accent);
  margin: 10px auto;

  svg {
    width: 60px;
    height: 60px;
  }
}

.inst-modal__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}


.inst-modal__input {
  margin: 0 auto;
  width: 300px;
}

.inst-modal__description {
  text-align: center;
  font-size: 18px;
}

.inst-modal__button {
  margin: 10px auto;
}