.add-user-modal {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
  padding: 20px;
}

.inst-modal__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--color-accent);
  margin: 10px auto;

  svg {
    width: 60px;
    height: 60px;
  }
}

.inst-modal__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.inst-modal__description {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.inst-modal__button {
  margin: 10px auto;
}

@media (max-width: 374px) {
  .add-user-modal {
    width: 230px;
    gap: 5px;
    padding: 5px 0 15px;
  }

  .inst-modal__image {
    width: 80px;
    height: 80px;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  .inst-modal__title {
    font-size: 20px;
  }

  .inst-modal__description {
    font-size: 16px;
    margin-top: 10px;
  }
}