.test-services__test-details {
  display: flex;
  flex-direction: column;
  border: 1.5px solid #DDE7EE;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
  gap: 15px;
}

.test-services__comment {
  height: 320px;
}