.extra-container {
  flex-direction: column;
  gap: 30px;
}

.extra-services {
  background: #fff;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--border-shadow);
  padding: 20px;
}