.service-active__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  color: #fff;
  overflow: hidden;
  padding: 20px;
  background:
    linear-gradient(135deg, var(--color-accent), #4caf50, #8bc34a);
  background-size: 200% 200%;
  animation: serviceActiveAnimation 6s infinite;

  .service-active__title {
    display: flex;
    gap: 20px;
    font-size: 28px;
    font-weight: 700;
  }

  .service-active__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0;
    margin-top: 30px;
  }

  .service-active__card {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 360px;
    text-align: center;
    padding: 15px;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
  }
}

@keyframes serviceActiveAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 840px) {
  .service-active__container {
    .service-active__title {
      font-size: 20px;
      font-weight: 700;
    }

    .service-active__card-list {
      flex-direction: column;
      gap: 15px;
      padding: 20px 0;
      margin-top: 0;

      .service-active__card {
        min-width: 200px;
        padding: 8px;
        gap: 0;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 374px) {
  .service-active__container {
    .service-active__title {
      font-size: 18px;
      font-weight: 700;
    }

    .service-active__card-list {
      gap: 20px;

      .service-active__card {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}