.dropdown-select {
  display: flex;
  position: relative;
  border: 1px solid #ccc;
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  cursor: pointer;
  transition: all .05s ease-in;

  &:hover {
    border: 1px solid #000;
  }

  &:active,
  &:focus-visible,
  &.active {
    border: 1px solid #1976D2;
    outline: 1.5px solid #1976D2;

    .dropdown-select__label.up {
      color: #1976D2;
    }
  }
}

.dropdown-select__menu {
  display: flex;
  flex-direction: column;
}

.dropdown-select__menu-item {
  text-align: left;
  padding: 10px 12px 10px 20px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  transition: all .1s linear;

  &:hover,
  &:active,
  &:focus-visible,
  &.active {
    background-color: rgba(205, 225, 255);
  }
}

.dropdown-select__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transition: all .2s ease-in-out;

  &.active {
    transform: rotate(180deg);
  }
}

.dropdown-select__label {
  position: absolute;
  color: #616161b3;
  transition: all .15s linear;
}

.dropdown-select__label.up {
  background: var(--select-active__bg-color);
  transform: translate(-4px, -125%);
  padding: 0 7px;
}