.user-purchased-extra {
  width: 730px;

  .user-purchased-extra__list {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .user-purchased-extra__item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    text-align: center;
    padding: 11.5px 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;

    .upe-nickname {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 140px;
      margin-right: 20px;
      text-align: left;
    }

    .upe-date {
      text-align: right;
    }

    &:hover {
      background-color: #b9e3ff;
      cursor: pointer;
    }
  }
}