:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;

  background-color: rgb(245, 245, 245);

  --color-accent: #26d07c;
  --color-accent-hover: #12bf6a;
  --color-accent-active: #0ea55b;
  --border-radius: 10px;
  --container-width: 1170px;
  --container-padding: 15px;
  --header-height: 60px;
  --footer-height: 0px;

  --border-color: #DADCE0;
  --border-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  --border-shadow: 0px 0px 5px 0 rgb(220, 220, 220, 0.3);
}

*:focus-visible {
  outline: var(--color-accent);
}

a {
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
}

.--prevent-scroll {
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
} */

.container {
  display: flex;
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  overflow: hidden;
}


::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border-radius: 10px;
  padding: 100px;
  margin: 100px;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(20, 200, 20, 0.5);
}

.skeleton,
.skeleton-dark {
  border-radius: 5px;
  width: 100%;
  height: 1em;

}

.skeleton {
  animation: skeleton-gradient-animation 1s linear infinite alternate;
}

.skeleton-dark {
  animation: skeleton-gradient-animation-dark 1s linear infinite alternate;
}

@keyframes skeleton-gradient-animation {
  0% {
    background-color: hsl(0, 0%, 83%);
  }

  100% {
    background-color: hsl(0, 0%, 92%);
  }
}

@keyframes skeleton-gradient-animation-dark {
  0% {
    background-color: hsl(0, 0%, 65%);
    ;
  }

  100% {
    background-color: hsl(0, 0%, 80%);
  }
}