.panel__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  background-color: white;
  min-height: var(--header-height);
  gap: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.panel__header-logout {
  border: none;
  cursor: pointer;
  background-color: white;
  margin-right: 15px;
}
