.panel__sidebar-dashboard__container {
  display: flex;
  margin: 10px 34px 10px 10px;
  flex-grow: 1;
}

.panel__sidebar-dashboard__list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.copy-btn {
  display: flex;
  margin-left: auto;
  cursor: pointer;
  align-items: center;
  padding: 5px 6px;

  svg {
    width: 17px;
    height: 17px;
    transition: all .3s linear;
  }

  &:hover {
    border-radius: 5px;
    background-color: rgba(205, 225, 255, 0.8);

    svg {
      transform: scale(1.1);
    }
  }
}