.service-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  cursor: default;

  .service-info__dropdown {
    margin-left: auto;
  }

  .service-info__cancel-subs {
    display: flex;
    margin-left: auto;
    cursor: pointer;
    align-items: center;
    transition: all .3s linear;

    &:hover {
      svg {
        transition: all .3s linear;
        transform: scale(1.1);
        color: red;
      }
    }
  }

  span {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;

    p {
      font-size: 18px;
      font-weight: 500;
      max-width: 230px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}